

.offersSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1vmax;
  gap: 2vmax;
}

.offersSection .offerItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5vmax;
  transition: all 0.3s ease;
}

.offersSection .offerItem img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  max-width: 250px;
  object-fit: cover;
  transition: all 0.3s ease;
}

.offersSection .offerItem img:hover {
  box-shadow: 6px 6px 15px rgba(53, 53, 53, 0.363);
}

/* Mobile */
@media (max-width: 600px) {
  .offersSection {
    flex-direction: column;
    align-items: center;
  }

  .offersSection .offerItem {
    width: 80%;
    margin-bottom: 1vmax;
  }

  .offersSection .offerItem img {
    max-width: 100%;
  }
}

/* Tablets and Small Laptops */
@media (max-width: 1024px) {
  .offersSection {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .offersSection .offerItem {
    width: 45%;
    margin-bottom: 1vmax;
  }

  .offersSection .offerItem img {
    max-width: 100%;
  }
}

/* Large Screens */
@media (min-width: 1025px) {
  .offersSection {
    flex-direction: row;
    justify-content: space-between;
  }

  .offersSection .offerItem {
    width: 30%;
    margin-bottom: 2vmax;
  }

  .offersSection .offerItem img {
    max-width: 100%;
    height: auto;
  }
}
